* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.going-back a {
  color: black;
}
:root {
  --white: #fff;
  --black: #000;
  --blue: #2f80ec;
  --green: #1fc225;

  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-36: 2.6rem;
  --font-size-12: 0.9rem;
  --font-size-24: 2.4rem;

  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weigh-400: 400;
}
main {
  display: flex;
  justify-content: center;
  background-color: grey;
  align-items: center;
  height: 100vh;
}
.main-content {
  background-color: white;
  padding: 1.6rem 4rem;
  gap: 3rem;
  height: 50vh;
  display: flex;
  width: 50vw;
  justify-content: center;
  flex-direction: column;
}
.forgotpassword-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotpassword {
  font-size: var(--font-size-36);
}
.underlinetext {
  font-size: var(--font-size-12);
  width: 20rem;
  margin: auto;
  margin-top: 0.5rem;
  color: #4c4d4e;
  text-align: center;
}
.resetpassword {
  margin-top: 1.6rem;
}
.remember-password {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
}

input[type="email"] {
  width: 20.7vw;
  padding: 1.4rem;
  height: 4.7rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  margin-top: 1rem;
  font-weight: var(--font-weigh-400);
}
.remember-pass {
  color: var(--green);
  margin-left: 0.3rem;
  text-decoration: none;
}

input[type="email"]:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input::placeholder {
  font-size: 1.4rem;
}

input:focus::placeholder {
  color: transparent;
}
button {
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 0;
  width: 20.7vw;
  border: 1px solid transparent;
  margin-bottom: 0.8rem;
  border-radius: 0.7rem;
  font-size: var(--font-size-18);
  font-weight: var(--font-weigh-400);
}
button a {
  color: white;
}
@media (max-width: 40rem) {
  main {
    background-color: #1fc225;
    height: 80vh;
  }
  .main-content {
    width: 100vw;
    min-height: 100vh;
  }
  .underlinetext {
    width: 32rem;
    font-size: 1.4rem;
  }
  input[type="email"] {
    width: 90vw;
    margin-bottom: 19rem;
  }
  button {
    width: 90vw;
  }
  .remember-password {
    justify-content: end;
  }
}
