* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
}

/*----------------------- Header-style------------------------ */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  width: 100%;
  z-index: 6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

header img {
  width: 16rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

header nav ul {
  display: flex;
}

header nav .header-btn-ctn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul li {
  display: inline-block;
  padding: 2.5rem 1rem;
}

header nav ul a {
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  transition: all 0.5s ease;
}

header nav ul a:hover {
  color: #2f80ec;
  font-weight: bolder;
}

.fa-angle-down {
  padding-left: 0.8rem;
}

.Signup-btn {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 4rem;
  background-color: #2f80ec;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Signup-btn:hover {
  background-color: black;
  color: #ffffff;
}

.login-btn {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border: 1px solid #2f80ec;
  border-radius: 4rem;
  background-color: white;
  color: #2f80ec;
  cursor: pointer;
  transition: all 0.5s ease;
}

.login-btn:hover {
  background-color: #2f80ec;
  color: white;
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-content {
  position: absolute;
  display: none;
  top: 7rem;
  left: -6rem;
  width: 22rem;
  background-color: #ffffff;
  z-index: 5;
  text-align: center;
}

.header-dropdown-content a {
  display: block;
  padding: 1rem;
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.5s ease;
}

.header-dropdown-content a:hover {
  color: #ffffff;
  background-color: black;
  border-bottom: 1.2px solid #1590ff;
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

header #menu {
  display: none;
}

.fa-bars {
  font-size: 3.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #0a5ecd;
}

.fa-bars:hover {
  color: #000000;
}

/*----------------------- Hero-style------------------------ */
main {
  position: relative;
  padding-top: 8.2rem;
}

main .hero-slide {
  z-index: 2;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

main .hero-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.hero-sec-one {
  display: flex;
  position: relative;
  background-color: #d5e6fa;
  height: 55rem;
}
.hero-sec-two {
  display: flex;
  position: relative;
  color: #ffffff;
  background-color: #000000;
  height: 55rem;
}
.hero-sec-three {
  display: flex;
  justify-content: space-between;
  height: 55rem;
  padding: 0 5rem;
}

.hero-sec-one article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5rem;
}

.hero-sec-two article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5rem;
}

.hero-sec-three article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22rem;
}

.evolution-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  z-index: 1;
}

.evolution-container p {
  color: #2f80ec;
  font-size: 1.3rem;
}

.hero-cta-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 40vw;
}

.hero-cta-container h1 {
  font-size: 3.2rem;
}

.hero-cta-container p {
  font-size: 1.8rem;
}

.hero-cta-btn {
  padding: 1rem 6rem;
  font-size: 1.8rem;
  border: 1px solid #2f80ec;
  border-radius: 1rem;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero-cta-btn:hover {
  background-color: #2f80ec;
  color: white;
}

.hero-sec-two .hero-cta-btn,
.hero-sec-three .hero-cta-btn {
  padding: 1rem 6rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #2f80ec;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero-cta-btn:hover {
  background-color: #0a5ecd;
  color: white;
}

.hero-user-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero-users {
  width: 15rem;
}

.hero-user-container p {
  font-size: 1.8rem;
}

.hero-user-container span {
  color: #2f80ec;
  font-weight: 500;
}

.hero-sec-one .hero-image-container,
.hero-sec-two .hero-image-container {
  position: absolute;
  right: 0;
  height: 100%;
}

.hero-sec-three .hero-image-container {
  display: flex;
  align-items: center;
}

.hero-blue-bg {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: inherit;
}

.hero-sec-one .hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 47vw;
  height: 45vw;
}

.hero-sec-two .hero-image {
  position: absolute;
  right: 12rem;
  bottom: 0;
  width: 25vw;
  height: 34vw;
}

.hero-sec-three .hero-image {
  width: 38vw;
  height: 35vw;
}

.hero-sec-two .eclipse {
  position: absolute;
  right: 8rem;
  top: 0;
  width: 5rem;
}

.hero-sec-two .ellipse-man1 {
  position: absolute;
  right: 26rem;
  top: 5rem;
}

.hero-sec-two .ellipse-man2 {
  position: absolute;
  left: 22rem;
  top: 26rem;
}

.hero-sec-two .ellipse-1 {
  position: absolute;
  right: 14rem;
  top: 23rem;
}
.hero-sec-two .ellipse-2 {
  position: absolute;
  left: 18rem;
  top: 8rem;
}
.hero-sec-two .ellipse-3 {
  position: absolute;
  left: 15rem;
  top: 18rem;
}

.hero-sec-two .ellipse-4 {
  position: absolute;
  right: 12rem;
  top: 12rem;
}

main .heroslide-nav-container {
  z-index: 5;
  position: absolute;
  display: flex;
  top: 60rem;
  left: 50%;
  transform: translateX(-50%);
}

main .heroslide-nav-container .heroslide-nav-btn {
  background-color: rgba(98, 103, 134, 0.79);
  width: 1.2rem;
  height: 1.2rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

main .heroslide-nav-container .heroslide-nav-btn.active {
  background-color: navy;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*----------------------- services-sec-style------------------------ */
.services-sec-container {
  margin-top: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 8rem 2rem;
}

.services-sec-container h1 {
  font-size: 3.2rem;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.services-container::-webkit-scrollbar {
  display: none;
}

.services-container .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  height: 29rem;
  min-width: 26.5rem;
  padding: 0 2rem;
  margin: 0 2rem;
  border-radius: 2rem;
  background-color: #f1f1f1;
}

.services-container .services img {
  width: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1rem;
}

.services-container .services h1 {
  font-size: 2rem;
}

.services-container .services p {
  font-size: 1.6rem;
  font-weight: 300;
}

/*----------------------- specialist & consultation-sec-style------------------------ */

.specialist-section,
.consultation-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 6rem;
  padding: 8rem;
}

.consultation-section {
  flex-wrap: wrap;
}

.specialist-section > article,
.consultation-section > article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 45rem;
  line-height: 1.5;
}

.specialist-section > article > h1,
.consultation-section > article > h1 {
  font-size: 2.5rem;
}

.specialist-section > article > p,
.consultation-section > article > p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.8;
}

.specialist-section .specialist-cta-btn,
.consultation-section .consultation-cta-btn {
  padding: 1.2rem 8rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  background-color: #2f80ec;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.specialist-cta-btn:hover,
.consultation-cta-btn:hover {
  background-color: #0a5ecd;
  color: white;
}

.specialist-section > div,
.consultation-section > div {
  height: 41.5rem;
  width: 55rem;
}

.specialist-section > div > img,
.consultation-section > div > img {
  height: 100%;
  width: 100%;
}

/*----------------------- step-sec-style------------------------ */
.step-section-ctn {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  background-color: #000000;
  margin: 0 10rem;
  padding: 3rem 4rem;
  height: 60rem;
  border-radius: 2rem;
}

.step-section-ctn article {
  display: flex;
  flex-direction: column;
  width: 30rem;
  word-spacing: 1rem;
  gap: 1.5rem;
}

.step-section-ctn article h2 {
  font-size: 1.8rem;
  color: #2f80ec;
}

.step-section-ctn article h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffffff;
}

.step-section-ctn article p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
}

.step-section-ctn article .step-section-btn {
  padding: 1rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  background-color: #2f80ec;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.step-section-ctn article .step-section-btn:hover {
  background-color: #0a5ecd;
  color: white;
}

.step-section-ctn .steps-container {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  flex-wrap: wrap;
  width: 60rem;
}

.step-section-ctn .steps {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 23rem;
  padding: 1.5rem;
  margin-right: 7rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.step-section-ctn .steps img {
  width: 6rem;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.step-section-ctn .steps p {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

/*----------------------- News-sec-style------------------------ */
.news-sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding: 8rem 2rem;
}

.news-sec-container h1 {
  font-size: 3.2rem;
}

.news-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.news-container::-webkit-scrollbar {
  display: none;
}

.news-container .news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 52rem;
  min-width: 33rem;
  margin: 0 2rem;
  border-radius: 2rem;
}

.news-container .news img {
  width: 33rem;
  height: 26rem;
}

.news-container .news h1 {
  font-size: 2rem;
}

.news-container .news p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
}

.news-container .news .news-section-btn {
  background-color: #d4edda;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

/*----------------------- Donate-sec-style------------------------ */

.donate-sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 6rem;
  background-color: rgb(254, 246, 235);
}

.donate-sec-container > h1 {
  font-size: 3.2rem;
}

.donate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
  gap: 4rem;
}

.donate-section > article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 58rem;
  line-height: 1.5;
}

.donate-section > article > p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.8;
}

.why-container {
  line-height: 3;
}

.why-container > h3 {
  font-size: 1.8rem;
  text-align: center;
}

.why-container ul > li {
  font-size: 1.6rem;
}

.why-container ul > li:before {
  content: "\2022";
  font-size: 60px;
  vertical-align: middle;
  padding-right: 1rem;
  line-height: 20px;
  color: green;
}

.why-container p {
  font-size: 1.6rem;
}

.fa-droplet {
  padding-right: 1rem;
}

.donate-section .donate-cta-btn {
  padding: 1.2rem 8rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  background-color: #2f80ec;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
}

.donate-cta-btn:hover {
  background-color: #0a5ecd;
  color: white;
}

.donate-section > div {
  height: 44rem;
  width: 40rem;
}

.donate-section > div > img {
  height: 100%;
  width: 100%;
}

/*----------------------- Testimonial-sec-style------------------------ */

.Testimonials-sec-ctn {
  position: relative;
  padding: 8rem 2rem;
  margin-bottom: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.Testimonials-sec-ctn > h1 {
  font-size: 3.2rem;
}

.Testimonials-sec-ctn .testimonial-slide {
  position: absolute;
  top: 16rem;
  width: 85%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 6rem;
  border: 2px solid #f3f3f3;
  border-radius: 1.2rem;
  clip-path: circle(0% at 0 50%);
}

.Testimonials-sec-ctn .testimonial-slide.tes-active {
  clip-path: circle(150% at 0 50%);
}

.Testimonials-sec-ctn .testimonial-slide .user {
  min-width: 30rem;
  line-height: 2;
}

.user .user-name {
  font-size: 2rem;
}

.user .user-service {
  font-size: 1.6rem;
}

.user .rating {
  font-size: 1.6rem;
}

.fa-star {
  color: #fccf18;
  margin-right: 0.5rem;
}

.Testimonials-sec-ctn .testimony {
  max-width: 60rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2;
}
.testimonial-button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 83%;
  top: 30rem;
}
.testimonial-button-container > button {
  font-size: 4rem;
  border: none;
  color: #1fc225;
  background-color: transparent;
  cursor: pointer;
}

.testimonial-nav-container {
  z-index: 5;
  position: absolute;
  display: flex;
  top: 42rem;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-nav-container .testimonial-nav-btn {
  background-color: rgba(162, 163, 168, 0.79);
  width: 1.2rem;
  height: 1.2rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.testimonial-nav-container .testimonial-nav-btn.tes-active {
  background-color: navy;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*----------------------- Testimonial-sec-style------------------------ */

.partners-sec-ctn {
  margin-top: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem 2rem;
  text-align: center;
  background-color: #f1f1f166;
}

.partners-sec-ctn h1 {
  font-size: 3.2rem;
}

.partners-sec-ctn p {
  font-size: 1.8rem;
}

.partners-sec-ctn .partners-ctn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  padding-top: 3rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}

.partners-ctn:-webkit-scrollbar {
  display: none;
}

.partners-sec-ctn .partners-ctn .partner-company {
  width: 12.8rem;
  height: 10rem;
  padding-right: 2rem;
  flex-shrink: 0;
}

/*----------------------- FAQ-sec-style------------------------ */

.faq-sec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 6rem 8rem;
}

.faq-sec-container > h1 {
  font-size: 3.2rem;
  text-align: center;
}

.faq-sec-container > p {
  font-size: 1.8rem;
  text-align: center;
}

.faq-sec-container .faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 90%;
  padding: 4rem;
  background-color: #f1f1f1;
}

.faq-sec-container .faq-container .faqs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  background-color: #f1f1f1;
  border: 1px solid #a8b7ca;
}

.faq-container .faqs p {
  font-size: 1.8rem;
  font-weight: 500;
}

.faq-container .faqs .fa-plus {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
/*-----------------------Responsiveness-style------------------------ */

@media (max-width: 850px) {
  html {
    font-size: 52%;
  }

  header nav ul {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 8;
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    width: 100%;
    background-color: #2f80ec;
    display: none;
  }

  header nav ul li {
    padding: 1.5rem 0rem;
  }

  header nav ul a {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  header nav ul a:hover {
    color: #000000;
  }

  header nav .header-btn-ctn {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  header #menu {
    display: flex;
  }

  .header-links.show {
    display: flex;
    width: 100%;
    height: 100vh;
    /* clip-path: circle(60% at 0 50%); */
  }

  .header-dropdown {
    order: 1;
    width: 13rem;
  }

  .header-dropdown-content {
    background-color: #2f80ec;
    text-align: left;
    top: 5rem;
    left: 0rem;
  }

  .header-dropdown-content a {
    padding: 1.5rem 1rem;
    font-weight: 400;
  }

  .header-dropdown-content a:hover {
    font-weight: 400;
  }

  .hero-sec-one .hero-image {
    height: 47rem;
  }

  .hero-sec-two .hero-image {
    right: 0;
    width: 40vw;
    height: 43rem;
  }

  .hero-sec-three .hero-image {
    width: 40vw;
    height: 45vw;
  }

  .eclipse {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .evolution-container img {
    width: 5rem;
  }
  .evolution-container p {
    color: #2f80ec;
    font-size: 1rem;
  }

  .hero-cta-container h1 {
    font-size: 2rem;
  }

  .hero-cta-container p {
    font-size: 1.5rem;
  }

  button.Signup-btn,
  button.login-btn {
    display: none;
  }

  .hero-users {
    width: 12rem;
  }

  .hero-sec-one .hero-image {
    height: 35rem;
  }

  .hero-sec-two .hero-image {
    height: 35rem;
  }

  .hero-sec-three .hero-image {
    height: 35vw;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 40%;
  }

  .hero-cta-container h1 {
    font-size: 2rem;
  }

  .hero-sec-one .hero-image {
    height: 40rem;
  }

  .hero-sec-two .hero-image {
    height: 35rem;
  }

  .hero-sec-three .hero-image {
    height: 35vw;
  }
}

@media (max-width: 326px) {
  html {
    font-size: 35%;
  }

  .hero-sec-one .hero-image {
    height: 40rem;
  }

  .hero-sec-two .hero-image {
    height: 35rem;
  }

  .hero-sec-three .hero-image {
    height: 35vw;
  }
}
